* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tapestry", cursive;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to top,
    rgb(176, 123, 123),
    rgb(231, 165, 115)
  );
}

h1 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 10rem);
  font-weight: 100;
  color: rgb(0, 0, 0);
  padding: 35px 35px 0;
}

.text_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text .reveal {
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-right: 7px;
  margin-bottom: 2px;
}

.text .reveal h2 {
  visibility: hidden;
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-weight: 200;
  color: rgb(0, 0, 0);
}

/** --------- BUTTONS ---------- **/
.card_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 25em;
  width: 80%;
  height: 20em;
  background-color: rgba(125, 125, 125, 0.581);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(26 26 26);
}
.card_buttons button {
  width: 220px;
  height: 50px;
  font-size: 16px;
  border-radius: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  border: 0px solid transparent;
}

.btn_green {
  background-color: rgb(90, 247, 98);
  border: 0px solid transparent;
  margin-top: 15px;
}

.btn_green:hover {
  background-color: #007604;
}

.btn_yellow {
  background-color: rgb(255, 240, 76);
  border: 0px solid transparent;
}

.btn_yellow:hover {
  background-color: #927000;
}

.btn_blue {
  background-color: rgb(0, 195, 255);
  border: 0px solid transparent;
}

.btn_blue:hover {
  background-color: #003cff;
}

.btn_red {
  background-color: rgb(250, 86, 81);
  border: 0px solid transparent;
}

.btn_red:hover {
  background-color: #af1400;
}

.btn_green,
.btn_yellow,
.btn_blue,
.btn_red {
  transition: background-color 0.3s linear;
}

/* TRANSITION */
.animation {
  opacity: 0;
  transform: translateX(-200px);
  animation-name: animation;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.opacity {
  opacity: 0;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes animation {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
